@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Mulish", sans-serif;
  position: relative;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

h1,
h3 {
  font-family: "Source Serif Pro", serif;
  line-height: 1.3;
}

p,
li {
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
  p,
  li {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.padding {
  padding: 2rem;
}

.hidden {
  display: none;
}

.active {
  color: #e17e4a;
  font-weight: 700;
}

.bold {
  font-weight: bold;
}

.icon {
  max-width: 3rem;
}

.container {
  margin: 0rem auto;
  padding: 4rem;
  max-width: 100rem;
  width: 100%;
}

.small-container {
  margin: 0rem auto;
  padding: 4rem;
  max-width: 80rem;
  width: 100%;
}

.section {
  width: 100%;
  margin: 2rem 0;
  background: #e8e8de;
}

.button {
  text-align: center;
  margin: 1rem 1rem 1rem 0;
  text-align: center;
  border-radius: 2rem;
  background: #e17e4a;
  display: inline-block;
  color: #000;
  padding: 0.8rem 2rem;
  font-weight: 700;
}

.button:hover {
  text-align: center;
  margin: 1rem 1rem 1rem 0;
  text-align: center;
  border-radius: 2rem;
  background: #e17e4a;
  display: inline-block;
  color: #fff;
}

.small-button {
  text-align: center;
  margin: 1rem 1rem 1rem 0;
  text-align: center;
  border-radius: 2rem;
  background: #e17e4a;
  display: inline-block;
  color: #000;
  padding: 0.8rem 1.4rem;
  font-size: 1.4rem;
}

.remove-button {
  text-align: center;
  margin: 1rem 1rem 1rem 0;
  text-align: center;
  border-radius: 2rem;
  background: none;
  display: inline-block;
  color: #ff4040;
  padding: 0.8rem 1.4rem;
  font-size: 1.4rem;
}

header {
  padding: 2rem 5rem;
  background: #3f7a6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: italic;
  padding: 2rem;
}

header ul li {
  margin: 0 2rem;
}

header form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.1rem solid white;
  border-radius: 3rem;
  padding: 0.8rem 2rem;
}

@media (min-width: 768px) {
  header form {
    width: 50%;
  }
}

header form input[type="text"] {
  width: 90%;
  background: #3f7a6d;
  border: none;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  color: white;
}

header form input[type="text"]::-webkit-input-placeholder {
  color: white;
}

header form input[type="text"]:-ms-input-placeholder {
  color: white;
}

header form input[type="text"]::-ms-input-placeholder {
  color: white;
}

header form input[type="text"]::placeholder {
  color: white;
}

header form button[type="submit"] {
  background: none;
  border: none;
  padding: 0 1rem;
}

header form button[type="submit"] img {
  width: 2rem;
}

@media (min-width: 768px) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card {
  margin: 2rem 0;
  background: white;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@media (min-width: 768px) {
  .card {
    width: 33%;
    max-width: 30rem;
  }
}

.card .img-container {
  position: relative;
}

.card .logo-container {
  position: absolute;
  bottom: -1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 40%;
}

.card .logo-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 1rem;
}

.card .like-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2.5rem;
}

.card .like-container:hover {
  cursor: pointer;
}

.title {
  font-weight: 300;
}

.overlay {
  background: rgba(5, 5, 5, 0.4);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.overlay .overlay-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overlay-card {
  position: relative;
  width: 80%;
  background: #e8e8de;
}

@media (min-width: 768px) {
  .overlay-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    max-width: 90rem;
  }
}

.overlay-card .close-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem 1rem;
  border-radius: 50px;
  background: white;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.overlay-card .close-btn:hover {
  cursor: pointer;
}

.overlay-card .overlay-img {
  height: 30rem;
  width: 100%;
}

.overlay-card .overlay-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .overlay-card .overlay-img {
    width: 40rem;
    height: 100%;
  }
}

.overlay-text {
  max-height: 40rem;
  overflow: scroll;
}

.overlay-text .overlay-title {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  border-bottom: 0.1rem solid black;
}

@media (min-width: 768px) {
  .overlay-text .overlay-title {
    font-size: 4rem;
  }
}

.overlay-text .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.overlay-text .details p {
  color: #3f7a6d;
}

.overlay-text .details p span {
  display: block;
  color: black;
}

.hidden {
  display: none;
}

footer {
  width: 100%;
  padding: 1.33333rem;
  background: #3b3b3b;
  color: white;
  text-align: center;
}

footer p {
  font-size: 1.2rem;
}

footer ul li {
  font-size: 2rem;
  margin: 0 2rem;
}

footer ul li:hover {
  color: #e17e4a;
}

.landing {
  background: #3f7a6d;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.landing .overlay-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .landing-content {
  width: 100%;
  text-align: center;
  color: white;
  padding: 0 1rem;
}

.landing .landing-content h1 {
  font-family: "Source Serif Pro", serif;
  font-style: italic;
  font-size: 5rem;
}

.landing .landing-content .landing-icon {
  margin: 2rem 0;
  width: 10rem;
  height: auto;
}

.landing .landing-content form {
  margin: 2rem auto;
  width: 100%;
}

.landing .landing-content form input {
  width: 90%;
  max-width: 60rem;
  border-radius: 2rem;
  padding: 1.2rem 2rem;
  background: #3f7a6d;
  border: 0.1rem solid white;
}

.landing .landing-content form input:hover {
  cursor: text;
  border: 0.1rem solid #32685c;
  background: #32685c;
}

.landing .landing-content form input[type="submit"] {
  display: none;
}

.hidden {
  display: none;
}

.green {
  width: 100%;
  background: #3f7a6d;
  height: 84vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.green .green-content {
  margin: 0 auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.green .green-content p {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.ideas li {
  background: #e8e8de;
  padding: 0.6rem 2rem;
  margin: 0.5rem;
  border-radius: 3rem;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .ideas li {
    font-size: 1.8rem;
  }
}

.ideas li:hover {
  cursor: pointer;
  color: #3f7a6d;
}

.iconography {
  margin-top: 3rem;
  text-align: center;
}

@media (min-width: 768px) {
  .iconography {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.iconography div {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .iconography div {
    margin: 0;
  }
}

.iconography img {
  width: 70%;
  max-width: 30rem;
  height: auto;
}

@media (min-width: 768px) {
  .iconography img {
    width: 12rem;
  }
}
/*# sourceMappingURL=app.css.map */