@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
}

h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

h1,
h3 {
  font-family: "Inter", sans-serif;
  margin-bottom: 1rem;
}

p,
li {
  text-align: justify;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  p,
  li {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }
}

a {
  text-decoration: none;
  color: #065799;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  color: #065799;
}

.padding {
  padding: 2rem;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.icon {
  max-width: 3rem;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  max-width: 120rem;
}
@media (max-width: 768px) {
  .container {
    padding: 4rem 0;
    width: 85%;
  }
}

.small-container {
  margin: 0 auto;
  padding: 4rem 0;
  max-width: 70rem;
}
@media (max-width: 768px) {
  .small-container {
    width: 85%;
  }
}

.section {
  width: 100%;
  background: #065799;
}

.button {
  text-align: center;
  margin: 1rem 1rem 1rem 0;
  border-radius: 2rem;
  background: #065799;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1.1px;
  padding: 0.5rem 2.5rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .button {
    font-size: 1.4rem;
  }
}
.button:hover {
  text-align: center;
  margin: 1rem 1rem 1rem 0;
  border-radius: 2rem;
  background: #04467c;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1.1px;
}
@media (max-width: 768px) {
  .button:hover {
    font-size: 1.4rem;
  }
}

.label-big {
  color: #fff;
  background: #065799;
  margin-right: 0.5rem;
  border-radius: 3rem;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .label-big {
    font-size: 1.4rem;
  }
}
.label-big:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .label-big {
    padding: 0.5rem 2.5rem;
    font-size: 1.3rem;
  }
}

header {
  background: #f4e7cf;
}
@media (max-width: 768px) {
  header {
    align-items: center;
    justify-content: space-between;
  }
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
header .logo-container {
  display: flex;
  align-items: center;
}
header .phone_view_about {
  display: none;
}
@media (max-width: 768px) {
  header .phone_view_about {
    display: inline;
  }
}
@media (max-width: 768px) {
  header .desktop_view_about {
    display: none;
  }
}

.logo {
  margin-right: 2.5rem;
  margin-bottom: 0;
  font-size: 3.6rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: #065799;
}
@media (max-width: 480px) {
  .logo {
    font-size: 2.5rem;
  }
}

header form {
  margin: 1.5rem 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2rem solid #065799;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
}
@media (max-width: 768px) {
  header form {
    width: 100%;
  }
}
header form input[type=text] {
  width: 90%;
  background: #f4e7cf;
  border: none;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  color: #065799;
}
header form input[type=text]::-moz-placeholder {
  color: #065799;
}
header form input[type=text]::placeholder {
  color: #065799;
}
header form button[type=submit] {
  background: none;
  border: none;
  padding: 0 1rem;
}
header form button[type=submit] img {
  width: 1.5rem;
}

.card-container {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.card {
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transition: ease-out 0.4s;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card .img-container {
  border-radius: 3px 3px 0 0;
  position: relative;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.card .recipe-content {
  padding: 2rem;
}
.card .logo-container {
  position: absolute;
  bottom: 0rem;
  background: #f4e7cf;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: start;
}
.card .logo-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 1rem;
}
.card .label-container {
  display: flex;
  flex-wrap: wrap;
}
.card .label-container .label {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.1rem 1.5rem;
  background: #065799;
  border-radius: 50px;
}
.card .like-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 3.5rem;
  height: auto;
  z-index: 3;
}
.card .like-btn:hover {
  cursor: pointer;
}

.recipe-title {
  font-size: 1.8rem;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .recipe-title {
    font-size: 1.5rem;
  }
}

.overlay {
  background: rgba(5, 5, 5, 0.4);
  position: fixed;
  top: 0;
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.overlay .overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-card {
  position: relative;
  width: 700px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .overlay-card {
    flex-direction: column;
    width: 80%;
    height: 80vh;
  }
}
.overlay-card .overlay-img {
  flex: 1 1 100px;
  background-size: cover;
  background-position: center;
  border-radius: 5px 0px 0px 5px;
}
@media (max-width: 768px) {
  .overlay-card .overlay-img {
    border-radius: 5px 5px 0px 0px;
  }
}
.overlay-card .overlay-text {
  flex: 1 1 100px;
  height: 400px;
  padding: 2rem;
  overflow: scroll;
}
.overlay-card .overlay-text .overlay-title {
  font-size: 2.2rem;
  color: #065799;
  font-weight: 700;
  font-style: italic;
  border-bottom: 0.1rem solid black;
}
@media (max-width: 768px) {
  .overlay-card .overlay-text .overlay-title {
    font-size: 1.8rem;
  }
}
.overlay-card .overlay-text .details {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.overlay-card .overlay-text .details p {
  color: #f4e7cf;
}
.overlay-card .overlay-text .details p span {
  display: block;
  color: black;
}
.overlay-card .close-btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 1rem;
  border-radius: 50px;
  background: white;
  z-index: 1;
  display: grid;
  place-content: center;
}
.overlay-card .close-btn:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

footer {
  width: 100%;
  padding: 1.3333333333rem;
  background: rgb(59, 59, 59);
  color: white;
  text-align: center;
}
footer p {
  text-align: center;
  font-size: 1.2rem;
}
footer ul li {
  font-size: 2rem;
  margin: 0 2rem;
}
footer ul li:hover {
  color: #fff;
}

.landing {
  background: #f4e7cf;
  flex-grow: 1;
  color: #065799;
}
.landing p {
  font-weight: 700;
}

#ideas {
  margin-top: 3rem;
}

.iconography {
  color: #fff;
}
.iconography .icons-container {
  color: #fff;
  margin-top: 3rem;
  text-align: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 480px) {
  .iconography .icons-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.iconography .icons-container h3 {
  color: #fff;
}
@media (max-width: 768px) {
  .iconography .icons-container div {
    margin-bottom: 3rem;
  }
}
.iconography .icons-container div p {
  text-align: center;
}
.iconography .icons-container div p.description {
  font-size: 1.4rem;
  font-weight: normal;
}
.iconography .icons-container img {
  width: 50%;
  max-width: 30rem;
  height: auto;
}
@media (max-width: 768px) {
  .iconography .icons-container img {
    width: 10rem;
  }
}

.loader-container {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #f4e7cf;
  background-image: url("/media/loader.gif");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}/*# sourceMappingURL=app.css.map */