* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: $secondaryFont;
  position: relative;
}

h1 {
  font-size: 3rem;
  font-weight: $light;
  @include tablet {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h1,
h3 {
  font-family: $serifFont;
  line-height: 1.3;
}

p,
ul,
li {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

.btn {
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 0.2rem;
}

.padding {
  padding: $space / 2;
}

.hidden {
  display: none;
}
