.container {
  margin: 0rem auto;
  padding: $space;
  max-width: 90rem;
  width: 100%;
}

.small-container {
  margin: 0rem auto;
  padding: $space;
  max-width: 80rem;
  width: 100%;
}

.section {
  width: 100%;
  margin: 2rem 0;
  background: $secondaryColor;
}
