.container {
  margin: 0 auto;
  padding: $space;
  max-width: 120rem;
  @include tablet {
    padding: $space 0;
    width: 85%;
  }
}

.small-container {
  margin: 0 auto;
  padding: $space 0;
  max-width: 70rem;
  @include tablet {
    width: 85%;
  }
}

.section {
  width: 100%;
  background: $secondaryColor;
}
