// COLOR VARIABLES //
$primaryColor: #3f7a6d;
$darkColor: #32685c;
$secondaryColor: #e8e8de;
$accentColor: #e17e4a;

// FONT VARIABLES //
$primaryFont: "Lato", sans-serif;
$secondaryFont: "Mulish", sans-serif;
$serifFont: "Noto Serif JP", serif;
$light: 300;
$bold: 700;

// SPACE //
$space: 4rem;

// MEDIA QUERIES:
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
