// COLOR VARIABLES //
// $primaryColor: #bfa41e;
$primaryColor: #f4e7cf;
$secondaryColor: #065799;
$secondaryDarkColor: #04467c;
$black: #000;
$white: #fff;

// FONT VARIABLES //
$primaryFont: 'Inter', sans-serif;
$secondaryFont: 'Inter', sans-serif;
$logo: "Montserrat", sans-serif;
$light: 300;
$bold: 700;

// SPACE //
$space: 4rem;

// MEDIA QUERIES:
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
