// COLOR VARIABLES //
$primaryColor: rgb(74, 192, 97);

// FONT VARIABLES //
$primaryFont: "Lato", sans-serif;
$secondaryFont: "Mulish", sans-serif;
// MEDIA QUERIES:
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
