.iconography {
  margin-top: 3rem;
  text-align: center;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  div {
    margin-bottom: 4rem;
    @include tablet {
      margin: 0;
    }
  }

  img {
    width: 70%;
    max-width: 30rem;
    height: auto;
    @include tablet {
      width: 12rem;
    }
  }
}
