
.iconography {
  color: #fff;
  .icons-container {
    color: #fff;
    margin-top: 3rem;
    text-align: center;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    @include phone {
      grid-template-columns: repeat(1, 1fr);
    }

    h3 {
      color: #fff;
    }

    div {
      @include tablet {
        margin-bottom: 3rem;
      }
      p {
        text-align: center;
        &.description {
          font-size: 1.4rem;
          font-weight: normal;
        }
      }
    }

    img {
      width: 50%;
      max-width: 30rem;
      height: auto;
      @include tablet {
        width: 10rem;
      }
    }
  }
}
