footer {
  width: 100%;
  padding: calc($space / 3);
  background: rgb(59, 59, 59);
  color: white;
  text-align: center;

  p {
    text-align: center;
    font-size: 1.2rem;
  }

  ul li {
    font-size: 2rem;
    margin: 0 2rem;
    &:hover {
      color: $white;
    }
  }
}
