header {
  background: $primaryColor;
  @include tablet {
    align-items: center;
    justify-content: space-between;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.logo {
  font-size: 3.6rem;
  font-family: $logo;
  font-style: italic;
  color: $secondaryColor;
  margin-right: 1rem;
}

header ul li {
  margin: 0 2rem;
  @include tablet {
    margin: 0;
  }
}

header form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2rem solid $secondaryColor;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  @include tablet {
    width: 100%;
  }
  input[type="text"] {
    background: $primaryColor;
    border: none;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    color: $secondaryColor;
    &::placeholder {
      color: $secondaryColor;
    }
  }

  button[type="submit"] {
    background: none;
    border: none;
    padding: 0 1rem;
    img {
      width: 1.5rem;
    }
  }
}
