header {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  background: $primaryColor;
}

form {
  width: 100%;
  input[type="text"],
  input[type="submit"] {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
  }

  input[type="text"] {
    width: 70%;
    max-width: 40rem;
    background: white;
    color: grey;
    font-weight: lighter;
    border: none;
  }

  input[type="submit"] {
    border: none;
    background: white;
  }
}
