.green {
  width: 100%;
  background: $primaryColor;
  height: 84vh;
  display: grid;
  place-content: center;

  .green-content {
    margin: 0 auto;
    width: 80%;
    display: grid;
    place-content: center;

    p {
      color: white;
      font-weight: $bold;
      font-size: 2rem;
    }
  }
}

.ideas li {
  background: $secondaryColor;
  padding: 0.6rem 2rem;
  margin: 0.5rem;
  border-radius: 3rem;
  &:hover {
    cursor: pointer;
    color: $primaryColor;
  }
}
