.overlay {
  background: rgba(5, 5, 5, 0.4);
  position: fixed;
  top: 0;
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  .overlay-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// CARD STYLES
.overlay-card {
  position: relative;
  width: 700px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    flex-direction: column;
    width: 80%;
    height: 80vh;
  }

  .overlay-img {
    flex: 1 1 100px;
    background-size: cover;
    background-position: center;
    border-radius: 5px 0px 0px 5px;
    @include tablet {
      border-radius: 5px 5px 0px 0px;
    }
  }

  .overlay-text {
    flex: 1 1 100px;
    height: 400px;
    padding: 2rem;
    overflow: scroll;
    .overlay-title {
      font-size: 2.2rem;
      color: $secondaryColor;
      font-weight: $bold;
      font-style: italic;
      border-bottom: 0.1rem solid black;
      @include tablet {
        font-size: 1.8rem;
      }
    }

    .details {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
      p {
        color: $primaryColor;
        span {
          display: block;
          color: black;
        }
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 1rem;
    border-radius: 50px;
    background: white;
    z-index: 1;
    display: grid;
    place-content: center;
    &:hover {
      cursor: pointer;
    }
  }
}

.hidden {
  display: none;
}
